.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: black;
  background-color: black;
}

.carousel-indicators > li {
  background-color: black;
}

.carousel-caption {
  color: black;
}
