.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tooltip-ruefo-zeInfos {
  text-align: left;
}

/* body {
  background-image: url('../src/images/background.svg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
} */

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  color: black;
}

* {
  font-size: 14px;
}

.btn {
  font-size: 14px !important;
}

.card-body {
  line-height: 2.15;
  padding: 1rem !important;
}

.btn-link {
  text-overflow: 'ellipsis';
  overflow: hidden;
  text-transform: none !important;
}

.btn-link {
  margin-top: 3px;
}

.table-shadow {
  box-shadow: inset 0 3em 2em -2em rgba(0, 0, 0, 0.1);
}

.table-row:hover {
  background: #eee;
}

.height-first-row {
  min-height: 17em;
}

.height-second-row {
  min-height: 38em;
}

.form-control:disabled {
  color: #616161 !important;
  background: none !important;
  background-color: #f5f5f5 !important;
}

input {
  color: #212121 !important;
}

input:disabled {
  background-color: #f5f5f5 !important;
}

textarea {
  resize: none !important;
}

.icon-button,
.icon-button:hover {
  background: #f5f5f5 !important;
  border: none !important;
}

.file-upload {
  height: 26em;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn:disabled,
.btn:disabled:hover {
  background: #f5f5f5 !important;
  color: #616161 !important;
}

.btn-position {
  bottom: 1.5em;
  right: 1.5em;
}

.form-control {
  line-height: 1.5 !important;
}

.file-link {
  color: #1976d2;
}

.file-link:hover {
  text-decoration: underline;
}

div.react-datepicker-wrapper {
  width: 100%;
  /* padding-left: 1%; */
}

div.react-datepicker-wrapper input {
  width: 100% !important;
  padding-right: 2% !important;
  padding-top: 0.5% !important;
  opacity: 0.8 !important;
  /* border: none !important; */
  /* border-bottom: 1px solid #bdbdbd !important; */
}

div.search-input .react-datepicker-wrapper input {
  padding-bottom: 8px !important;
  opacity: 100 !important;
}

div.react-datepicker-wrapper input:disabled {
  border-bottom: none !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.line-height-1 {
  line-height: 1;
}

.form-control.is-invalid {
  padding: 0.28125rem 0 !important;
  background-image: none !important;
}
.form-control.is-invalid:focus {
  border: none !important;
  box-shadow: none !important;
  padding: 0.28125rem 0 !important;
  background-image: linear-gradient(to top, #f4030f 2px, rgba(3, 169, 244, 0) 2px),
    linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, rgba(0, 0, 0, 0) 1px) !important;
}

.file-link {
  color: #0286c2;
}

.file-link:hover {
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-input {
  display: inline-block !important;
  width: 12% !important;
  margin-right: 2em;
  line-height: 1 !important;
}

.badge {
  font-size: 1em !important;
  font-weight: inherit !important;
}

.height-5 {
  height: 5em !important;
}

.mt-n7 {
  margin-top: -5em;
}

/* .input-group-append {
  margin-left: -12px !important;
} */

.input-group-text {
  color: #757575 !important;
}

.arrow {
  border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

div.hbox {
  display: flex;
  flex-direction: row;
}
